APP_ENV=dev

DATABASE_PATH=var/database.sqlite

AG_OPENING_DATE=
AG_CLOSING_DATE=

LICENSE_API_URL=
LICENSE_API_TOKEN=

AG_NAME=
AG_START_DATE=
AG_END_DATE=
AG_CITY=
AG_DEPARTMENT=

AG_QUESTION_DEADLINE=